.pricingHeroe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: justify;
    .textosPricing{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 60vh;
        h1{
            font-size: 45px;
            padding: 2.5%;            
            color: #5e0707;
            text-align: center;
            margin-bottom: 10vh;
        }
        p{
            text-align: center;
            font-size: larger;
            font-weight: bold;
            margin-bottom: 10vh;
        }
        img{
            width: 600px;
            height: 600px;
        }
        .botones{
            width: 10vh;
                color: aliceblue;
                text-decoration: none;
                background-color: rgba(94, 7, 7, 0.756);
                border: 2px solid rgb(0, 0, 0);
                border-radius: 10px;
                padding: 4px;
                font-size: 10px;
                &:hover{
                    background-color: #3d0404b7;
                }
        }
    }
    .optionsContainer{
        display: flex;
        align-items: center;
        align-content: center;
        width: 80%;
        .freeOption{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 60vh;
            width: 100%;
            border: 2px solid;
            border-color: #5e0707;
            border-radius: 10px;
            margin: 5%;
            img{
            padding: 5%;
            }
            ul{
                height: 30%;
            }
            .botones{
                    width: 10vh;
                        color: aliceblue;
                        text-decoration: none;
                        background-color: rgba(94, 7, 7, 0.756);
                        border: 2px solid rgb(0, 0, 0);
                        border-radius: 10px;
                        padding: 4px;
                        font-size: 10px;
                        &:hover{
                            background-color: #3d0404b7;
                        }
                }
        }
        .payOption{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 60vh;
            width: 100%;
            border: 2px solid;
            border-color: #5e0707;
            border-radius: 10px;
            margin: 5%;
            img{
            padding: 5%;
            }
            ul{
                height: 30%;
            }
            .botones{
                width: 10vh;
                    color: aliceblue;
                    text-decoration: none;
                    background-color: rgba(94, 7, 7, 0.756);
                    border: 2px solid rgb(0, 0, 0);
                    border-radius: 10px;
                    padding: 4px;
                    font-size: 10px;
                    &:hover{
                        background-color: #3d0404b7;
                    }
            }
        }
    }
}
.textosSecundarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 60vh;
    margin-top: 10vh;
    .tituloSecundario{
        width: 80%;;
        text-align: center;
        font-size: 50px;
        color: #5e0707ae;
        font-weight: bold;

    }
    .parrafoSecundario{
        text-align: center;
        margin-bottom: 5%;
        font-style: italic;
    }
    .botones{
        width: 10vh;
        color: aliceblue;
        text-decoration: none;
        background-color: rgba(94, 7, 7, 0.756);
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        padding: 4px;
        font-size: 10px;
        margin-bottom: 10vh;
        &:hover{
            background-color: #3d0404b7;
        }
    }
    .regreso{
        display: flex;
        align-items: center;
        align-content: center;
        a{
            font-size: 18px;
            color: black;
            width: 15vh;
            text-decoration: none;
            text-decoration: none;
            text-align: center;
            padding: 4px;
            &:hover{
                background-color: #ebe0e067;
                border-radius: 10px;
            }
        }
    }
}