.pricingHeroe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: justify;

    .textosPricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 70vh;

        h1 {
            font-size: 45px;
            padding: 2.5%;
            color: #5e0707;
            text-align: center;
            margin-bottom: 10vh;
        }

        p {
            text-align: center;
            font-size: larger;
            font-weight: bold;
            margin-bottom: 10vh;
        }

        img {
            width: 600px;
            height: 600px;
        }

        .botones {
            @extend %botones,
        }
    }

    .optionsContainer {
        display: flex;
        align-items: center;
        align-content: center;
        width: 100vw;
        height: 65vh;

        .freeOption {
            display: flex;
            flex-direction: column;
            align-items: center;
            height:100%;
            width: 100%;
            border: 2px solid;
            border-color: #5e0707;
            border-radius: 10px;
            margin: 5%;
            &:hover {
                @extend %animacionTarjetas;
            }
            img {
                padding: 5%;
            }
            ul {
                height: 30%;
            }
            li{
                width: 98%;
            }
            .botones {
                @extend %botones;
            }
        }

        .payOption {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 2px solid;
            border-color: #5e0707;
            border-radius: 10px;
            margin: 5%;
            &:hover {
                @extend %animacionTarjetas;
            }
            img {
                padding: 5%;
            }
            ul {
                height: 30%;
            }
            li{
                width: 98%;
            }
            .botones {
                @extend %botones;
            }
        }
        .proOption{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            border: 2px solid;
            border-color: #5e0707;
            border-radius: 10px;
            margin: 5%;
            &:hover {
                @extend %animacionTarjetas;
            }
            img {
                padding: 5%;
            }
            ul {
                height: 30%;
            }
            li{
                width: 98%;
            }
            .botones {
                @extend %botones;
            }
        }
    }
}

.textosSecundarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: fit-content;
    margin-top: 10vh;

    .tituloSecundario {
        width: 80%;
        ;
        text-align: center;
        font-size: 50px;
        color: #5e0707ae;
        font-weight: bold;

    }

    .parrafoSecundario {
        text-align: center;
        margin-bottom: 5%;
        font-style: italic;
    }

    .botones{
        @extend %botones;
    }

    .regreso{
        display: flex;
        align-items: center;
        align-content: center;

        a{
            font-size: 18px;
            color: black;
            width: fit-content;
            text-decoration: none;
            text-decoration: none;
            text-align: center;
            padding: 4px;

            &:hover {
                background-color: #ebe0e067;
                border-radius: 10px;
            }
        }
    }
}